.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.maps-go {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-primary-color);
}

.mail-link-footer,
.phone-number-footer {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-primary-color);
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.footer-contact {
  align-items: baseline;
}

.footer-list :last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-social {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
